body{
	background-color:black;
}

#wrapper{
	width:1100px;
	height:1000px;
	margin:0 auto;
  background-color:blue;
}

#content_1{
  position:absolute;
  top:100px;
  left:225px;
  width:800px;
  height:300px;
  color:black;
	border-style: solid;
	border-width: 4px;
}

#content_2{
  position:absolute;
  top:120px;
	left: 250px;
  width:750px;
  height:20px;
  color:red;
	padding: 2px 2px 2px;
	border-style: dashed;
	border-color: green;
	border-width: 2px;
	font-size: small;
}

#content_3{
  position:absolute;
  top:160px;
	left:229px;
  width:175px;
  height:240px;
	border-style: dashed;
	border-color: yellow;
	border-width: 2px;
}

.AbsolutePic{
  position:absolute;
	padding:5px 5px 5px 5px;
	top:165px;
	left:234px;
}
